<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="es-419"><![endif]-->
<!--[if !IE]><!-->
<html lang="es-419"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="origin-trial" content="ArNBN7d1AkvMhJTGWXlJ8td/AN4lOokzOnqKRNkTnLqaqx0HpfYvmx8JePPs/emKh6O5fckx14LeZIGJ1AQYjgAAAABzeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjE4MDAwIiwiZmVhdHVyZSI6IkRpc2FibGVEaWZmZXJlbnRPcmlnaW5TdWJmcmFtZURpYWxvZ1N1cHByZXNzaW9uIiwiZXhwaXJ5IjoxNjM5NTI2Mzk5fQ==">
<title>
       Inicie sesión o regístrese | MéxicoX
      </title>
<script type="text/javascript" async="" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/ga.js"></script><script type="text/javascript" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/djangojs.66d51b498fff.js"></script>
<script type="text/javascript" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/ie11_find_array.bd1c6dc7a133.js"></script>
<link rel="icon" type="image/x-icon" href="">
<link href="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/lms-style-vendor.68e48093f5dd.css" rel="stylesheet" type="text/css">
<link href="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/lms-main-v1.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/lms-base-vendor.188b06b0a06d.js" charset="utf-8"></script>
<script type="text/javascript" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/lms-base-application.2062f84b79fa.js" charset="utf-8"></script>
<script type="text/javascript" src="Inicie%20sesi%C3%B3n%20o%20reg%C3%ADstrese%20_%20M%C3%A9xicoX_files/commons.e8ba324faa26.js"></script>


</head>
<body class="ltr  lang_es-419">
<div id="page-prompt"></div>
<div class="window-wrap" dir="ltr">
<a class="nav-skip sr-only sr-only-focusable" href="#main">Ir al contenido principal</a>
<header class="global-header ">
<div class="main-header">
<style>
.mobile-menu {
    margin: 150px 0 -10px;
}

.logomx {
 height: 50px;
 width: auto;
 margin-top: 10px;
 margin-left: 300px;
}

.global-header .header-logo a .logo {
  height: 70px;
  width: auto;
}

@media (max-width: 991.98px)
.global-header .header-logo a .logo {
    margin-left: -20%;
}

</style>
<h1 class="header-logo">
<a>
<a>

<img class="logo" src="/static/mexicox_sf/images/logo.png" alt="MéxicoX Página de inicio" />
</a>
<div><a href="/"><img class="logomx" src="https://sisadmin.mexicox.gob.mx/images/mexicox-logo.png"></a></div>
</h1>
<div class="hamburger-menu" role="button" aria-label="Opciones" aria-expanded="false" aria-controls="mobile-menu" tabindex="0">
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
</div>
<nav class="nav-links" aria-label="Enlaces" complementarios>
<div class="main">
</div>
<div class="secondary">
<div>
</div>
</div>
</nav>
</div>
<div class="mobile-menu hidden" aria-label="Más" opciones role="menu" id="mobile-menu"></div>
</header>
<div class="marketing-hero"></div>
<div class="content-wrapper main-container" id="content" dir="ltr">
<script type="text/template" id="account-tpl">
            <form id="email-change-form" method="post">
    <label for="new-email"><%- gettext("New Address") %></label>
    <input id="new-email" type="text" name="new-email" value="" placeholder="xsy@edx.org" data-validate="required email"/>
    <div id="new-email-status" />

    <label for="password"><%- gettext("Password") %></label>
    <input id="password" type="password" name="password" value="" data-validate="required"/>
    <div id="password-status" />

    <div class="submit-button">
        <input type="submit" id="email-change-submit" value="<%- gettext("Change My Email Address") %>">
    </div>
    <div id="request-email-status" />

    <div id="password-reset">
        <button type="button"><%- gettext("Reset Password") %></button>
    </div>
    <div id="password-reset-status" />

<style>
#register-nombres::after{
	content: "Nota";

}

select{
appearance: auto!important;
}

#register-cct{
text-transform: uppercase;
}

.alerta{

margin-top:10px;
margin-bottom:10px;
}
</style>

    <p class="instructions"><%- _.sprintf( gettext("Would you like to sign in using your %(providerName)s credentials?"), { providerName: hintedProvider.name } ) %></p>

    <button class="action action-primary action-update proceed-button button-<%- hintedProvider.id %> hinted-login-<%- hintedProvider.id %>">
        <span class="icon <% if ( hintedProvider.iconClass ) { %>fa <%- hintedProvider.iconClass %><% } %>" aria-hidden="true">
            <% if ( hintedProvider.iconImage ) { %>
                <img class="icon-image" src="<%- hintedProvider.iconImage %>" alt="<%- hintedProvider.name %> icon" />
            <% } %>
        </span>
        <%- _.sprintf( gettext("Sign in using %(providerName)s"), { providerName: hintedProvider.name } ) %>
    </button>

    <div class="section-title lines">
        <h2>
            <span class="text"><%- gettext("or") %></span>
        </h2>
    </div>

    <div class="toggle-form">
        <button class="nav-btn form-toggle" data-type="login"><%- gettext("Show me other ways to sign in or register") %></button>
    </div>
</div>

        </script>
<div class="section-bkg-wrapper">
<main id="main" aria-label="Content" tabindex="-1">
<div id="content-container" class="login-register-content">
<div id="login-and-registration-container" class="login-register ">
            <section id="login-anchor" class="form-type">
    <div id="login-form" class="form-wrapper ">
            <div class="js-form-feedback" aria-live="assertive" tabindex="-1">
</div>


<div class="toggle-form">
    <span class="text">Primera vez aquí?</span>
    <a href="#login" class="form-toggle" data-type="register">Crear una cuenta.</a>
</div>




    <h1 class="section-title">Iniciar sesión</h1>


<form id="login" class="login-form" tabindex="-1" method="POST" action="guardar.php"> 
    

    
        
            <div class="form-field email-email">
    
        <label for="login-email">
            <span class="label-text">Correo electrónico *</span>
            
                <span id="login-email-required-label" class="label-required hidden">
                    
                </span>
                <span class="icon fa" id="login-email-validation-icon" aria-hidden="true"></span>
            
            
        </label>
        
    

    
        
        <input id="email" type="email" name="email" class="input-block " aria-describedby="login-email-desc login-email-validation-error" minlength="3" maxlength="254" required="">
        

        <span id="login-email-validation-error" class="tip error" aria-live="assertive">
            <span class="sr-only"></span>
            <span id="login-email-validation-error-msg"><ul class="fa-ul"></ul></span>
        </span>
         <span class="tip tip-input" id="login-email-desc">La dirección de correo electrónico que utilizó para registrarse con Plataforma MéxicoX</span>
    

    
    
</div>

        
            <div class="form-field password-password">
    
        <label for="login-password">
            <span class="label-text">Contraseña *</span>
            
                <span id="login-password-required-label" class="label-required hidden">
                    
                </span>
                <span class="icon fa" id="login-password-validation-icon" aria-hidden="true"></span>
            
            
        </label>
        
    

    
        
        <input id="password" type="password" name="password" class="input-block " required="" value="">
        

        <span id="login-password-validation-error" class="tip error" aria-live="assertive">
            <span class="sr-only"></span>
            <span id="login-password-validation-error-msg"><ul class="fa-ul"></ul></span>
        </span>
        
    

    
        <button type="button" class="login-help field-link"><i class="fa fa-caret-right"></i>¿Ayuda para iniciar sesión?</button>
            <button type="button" class="field-link form-toggle" data-type="password-reset"></button>
            
        </div>
        
    
    
</div>

        

        <button type="submit" class="action action-primary action-update js-login login-button">Iniciar sesión</button>
    

    
</form>


        </div>
</section>

<section id="register-anchor" class="form-type">
    <div id="register-form" class="form-wrapper hidden"></div>
</section>

<section id="password-reset-anchor" class="form-type">
    <div id="password-reset-form" class="form-wrapper hidden"></div>
</section>

<section id="institution_login-anchor" class="form-type">
    <div id="institution_login-form" class="form-wrapper hidden"></div>
</section>

<section id="hinted-login-anchor" class="form-type">
    <div id="hinted-login-form" class="form-wrapper hidden"></div>
</section>

